@using Webdiyer.WebControls.Mvc;
@model  iPow.Application.jq.Dto.HomeDto
@{
    if (Model != null)
    {
        ViewBag.Title = Model.CurrentCityInfo.city + "逛景区,主题公园_iPow自助旅行网";
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="景区,@Model.CurrentCityInfo.city 景区,@Model.CurrentCityInfo.city 主题公园,主题公园" />
    }
    <meta name="description" content="最齐全、最专业、最权威、最实时的主题公园目的地资料全在这里。全部由网友添改的视频、图片、文字全面地向你描述你所感兴趣的目的地，我们相信最实时的信息来自于真正的主题公园爱好者，是集百家所长的智慧。请为你我的主题公园资料库添砖加瓦" />
    <meta name="author" content="景区" />
}
@* message：添加景区推广 colorBox
      datetime：2012/3/31
      by：张军朋
*@
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/sight_index.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/colorbox.css")" />
<script src="@Url.Content("~/Scripts/map.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/search.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.colorbox.js")" type="text/javascript"></script>
<script src="http://ditu.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAmoR-oBdyeH4Zkn00S2LOLhRdPH43yFVZ6O0pFnW8m54CGfsV9hSR2QH4wAlox0CoYhgKSKnpURoU3A"
    type="text/javascript"></script>
<script type="text/javascript">
    //$(document).ready(function () {
    //   $(".chinabaohuluiframe").colorbox({ iframe: true, width: "80%", height: "80%" });
    //   $('.chinabaohuluiframe').trigger("click");
    //})
    $(function () {
        $("#ChangeCity").showCity();
        //右边的地图是还否启用浮动
        $("#rightContainer").floatDiv();
    });
</script>
@Html.Partial("IndexJsPartial")
<!--地区列表开始-->
<div class="mainContainer">
    @* <a class='chinabaohuluiframe' href="http://www.chinabaohulu.com/" title="景区推广"></a>*@
    <div class="areaList">
        @Html.Partial("_NavPartialPage")
    </div>
</div>
<!--地区列表结束-->
<!--广告位开始-->
@Html.Partial("_ADLayout")
<!--广告位结束-->
<!--一个地区的景区列表开始-->
<div class="mainContainer">
    <div class="leftContainer" id="updateContianer">
        @{ Html.RenderPartial("UpdatePartial");}
        <div class="indexPage">
            <em>
                @(Model.SightInfo.TotalItemCount)条记录@(Model.SightInfo.CurrentPageIndex)@("/")@(Model.SightInfo.TotalPageCount)
                页</em>
            <div class="Pagecon">
                @Html.Pager(
                Model.SightInfo.TotalItemCount,
                Model.SightInfo.PageSize,
                Model.SightInfo.CurrentPageIndex,
                "Index",
                "Home",
                new PagerOptions()
                   {
                       PageIndexParameterName = "id",
                       LastPageText = "尾页",
                       FirstPageText = "首页",
                       PrevPageText = "上一页",
                       NextPageText = "下一页",
                       CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>"
                   },
                "City",
                new
                {
                    city = Model.CurrentCityInfo.pinyin,
                    id = Model.SightInfo.CurrentPageIndex
                }
                , null)
            </div>
        </div>
    </div>
    <!--右侧内容开始-->
    <div class="rightContainer" id="rightContainer">
        <div class="sight_ditu_con">
            <div class="sight_ditu">
                <div class="sight_ditu_top">
                    <label for="maproll">
                        <input type="checkbox" checked="checked" id="maproll" />地图跟随屏幕滚动</label>
                    <a title="点击查看景区大地图" class="biglink">查看大图</a>
                </div>
                <div class="sightMap">
                    <div id="MapTipPanel" style="z-index: 99;">
                    </div>
                    <div id="mapContainer" style="width: 244px; height: 305px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="rightTitle2">
            <h3>
                热门攻略</h3>
        </div>
        <div class="travelList" style="padding-top: 10px;">
            @Html.Partial("IndexRightArticlePartial")
        </div>
    </div>
    <!--右侧内容结束-->
    <div class="clear">
    </div>
</div>
<!--一个地区的景区列表结束-->
<!--尾部开始-->
<div class="foot_cir">
    @Html.Partial("IndexBottomLinkPartial")
</div>
<!--尾部结束-->
