<span><em>请选择地点</em><a id="gb" onclick='javascript:$("#addrProvince").css("display","none");'>[&nbsp;关闭&nbsp;]</a></span>
<ul>
    <li id="beijing"><a href = "@Url.Action("Province", "Home", new { prov = "beijing", city = "all", cla = 0, id = 1 })">
        北京市</a></li>
    <li id="shanghai"><a  href = "@Url.Action("Province", "Home", new { prov = "shanghai", city = "all", cla = 0, id = 1 })">
        上海市</a></li>
    <li id="shenzhen"><a href = "@Url.Action("Index", "Home", new { city = "shenzhen", id = 1 })">
        深圳市</a></li>
    <li id="guangzhou"><a href = "@Url.Action("Index", "Home", new { city = "guangzhou", id = 1 })">
        广州市</a></li>
    <li id="zhongqing"><a href = "@Url.Action("Province", "Home", new { prov = "zhongqing", city = "all", cla = 0, id = 1 })">
        重庆市</a></li>
    <li id="tianjin"><a href = "@Url.Action("Province", "Home", new { prov = "tianjin", city = "all", cla = 0, id = 1 })">
        天津市</a></li>
    <li id="guangdong"><a href = "@Url.Action("Province", "Home", new { prov = "guangdong", city = "all", cla = 0, id = 1 })">
        广东省</a></li>
    <li id="jiangsu"><a href = "@Url.Action("Province", "Home", new { prov = "jiangsu", city = "all", cla = 0, id = 1 })">
        江苏省</a></li>
    <li id="zhejiang"><a href = "@Url.Action("Province", "Home", new { prov = "zhejiang", city = "all", cla = 0, id = 1 })">
        浙江省</a></li>
    <li id="sichuan"><a href = "@Url.Action("Province", "Home", new { prov = "sichuan", city = "all", cla = 0, id = 1 })">
        四川省</a></li>
    <li id="hainan"><a href = "@Url.Action("Province", "Home", new { prov = "hainan", city = "all", cla = 0, id = 1 })">
        海南省</a></li>
    <li id="fujian"><a href = "@Url.Action("Province", "Home", new { prov = "fujian", city = "all", cla = 0, id = 1 })">
        福建省</a></li>
    <li id="shandong"><a href = "@Url.Action("Province", "Home", new { prov = "shandong", city = "all", cla = 0, id = 1 })">
        山东省</a></li>
    <li id="jiangxi"><a href = "@Url.Action("Province", "Home", new { prov = "jiangxi", city = "all", cla = 0, id = 1 })">
        江西省</a></li>
    <li id="guangxi"><a href = "@Url.Action("Province", "Home", new { prov = "guangxi", city = "all", cla = 0, id = 1 })">
        广西省</a></li>
    <li id="anhui"><a href = "@Url.Action("Province", "Home", new { prov = "anhui", city = "all", cla = 0, id = 1 })">
        安徽省</a></li>
    <li id="hebei"><a href = "@Url.Action("Province", "Home", new { prov = "hebei", city = "all", cla = 0, id = 1 })">
        河北省</a></li>
    <li id="henan"><a href = "@Url.Action("Province", "Home", new { prov = "henan", city = "all", cla = 0, id = 1 })">
        河南省</a></li>
    <li id="hubei"><a href = "@Url.Action("Province", "Home", new { prov = "hubei", city = "all", cla = 0, id = 1 })">
        湖北省</a></li>
    <li id="hunan"><a href = "@Url.Action("Province", "Home", new { prov = "hunan", city = "all", cla = 0, id = 1 })">
        湖南省</a></li>
    <li id="shanxis"><a href = "@Url.Action("Province", "Home", new { prov = "shanxis", city = "all", cla = 0, id = 1 })">
        陕西省</a></li>
    <li id="shanxi"><a href = "@Url.Action("Province", "Home", new { prov = "shanxi", city = "all", cla = 0, id = 1 })">
        山西省</a></li>
    <li id="heilongjiang"><a href = "@Url.Action("Province", "Home", new { prov = "heilongjiang", city = "all", cla = 0, id = 1 })">
        黑龙江</a></li>
    <li id="liaoning"><a href = "@Url.Action("Province", "Home", new { prov = "liaoning", city = "all", cla = 0, id = 1 })">
        辽宁省</a></li>
    <li id="jilin"><a href = "@Url.Action("Province", "Home", new { prov = "jilin", city = "all", cla = 0, id = 1 })">
        吉林省</a></li>
    <li id="yunnan"><a href = "@Url.Action("Province", "Home", new { prov = "yunnan", city = "all", cla = 0, id = 1 })">
        云南省</a></li>
    <li id="guizhou"><a href = "@Url.Action("Province", "Home", new { prov = "guizhou", city = "all", cla = 0, id = 1 })">
        贵州省</a></li>
    <li id="gansu"><a href = "@Url.Action("Province", "Home", new { prov = "gansu", city = "all", cla = 0, id = 1 })">
        甘肃省</a></li>
    <li id="neimenggu"><a href = "@Url.Action("Province", "Home", new { prov = "neimenggu", city = "all", cla = 0, id = 1 })">
        内蒙古</a></li>
    <li id="ningxia"><a href = "@Url.Action("Province", "Home", new { prov = "ningxia", city = "all", cla = 0, id = 1 })">
        宁夏</a></li>
    <li id="xicang"><a href = "@Url.Action("Province", "Home", new { prov = "xicang", city = "all", cla = 0, id = 1 })">
        西藏</a></li>
    <li id="xinjiang"><a href = "@Url.Action("Province", "Home", new { prov = "xinjiang", city = "all", cla = 0, id = 1 })">
        新疆</a></li>
    <li id="qinghai"><a href = "@Url.Action("Province", "Home", new { prov = "qinghai", city = "all", cla = 0, id = 1 })">
        青海省</a></li>
    <li id="xianggang"><a href = "@Url.Action("Province", "Home", new { prov = "xianggang", city = "all", cla = 0, id = 1 })">
        香港</a></li>
    <li id="aomen"><a href = "@Url.Action("Province", "Home", new { prov = "aomen", city = "all", cla = 0, id = 1 })">
        澳门</a></li>
    <li id="taiwan"><a href = "@Url.Action("Province", "Home", new { prov = "taiwan", city = "all", cla = 0, id = 1 })">
        台湾</a></li>
</ul>
@*<ul>
    <li id="beijing"><a onclick="updateSightInfo('/prov/beijing/pt/0/1','updateContianer')"
        href="javascript:;">北京市</a></li>
    <li id="shanghai"><a onclick="updateSightInfo('/prov/shanghai/pt/0/1','updateContianer')"
        href="javascript:;">上海市</a></li>
    <li id="shenzhen"><a href = "@Url.Action("Index", "Home", new { city = "shenzhen", id = 1 })">
        深圳市</a></li>
    <li id="guangzhou"><a onclick="updateSightInfo('/prov/guangzhou/1','updateContianer')"
        href="javascript:;">广州市</a></li>
    <li id="zhongqing"><a onclick="updateSightInfo('/prov/zhongqing/pt/0/1','updateContianer')"
        href="javascript:;">重庆市</a></li>
    <li id="tianjin"><a onclick="updateSightInfo('/prov/tianjin/pt/0/1','updateContianer')"
        href="javascript:;">天津市</a></li>
    <li id="guangdong"><a onclick="updateSightInfo('/prov/guangdong/pt/0/1','updateContianer')"
        href="javascript:;">广东省</a></li>
    <li id="jiangsu"><a onclick="updateSightInfo('/prov/jiangsu/pt/0/1','updateContianer')"
        href="javascript:;">江苏省</a></li>
    <li id="zhejiang"><a onclick="updateSightInfo('/prov/zhejiang/pt/0/1','updateContianer')"
        href="javascript:;">浙江省</a></li>
    <li id="sichuan"><a onclick="updateSightInfo('/prov/sichuan/pt/0/1','updateContianer')"
        href="javascript:;">四川省</a></li>
    <li id="hainan"><a onclick="updateSightInfo('/prov/hainan/pt/0/1','updateContianer')"
        href="javascript:;">海南省</a></li>
    <li id="fujian"><a onclick="updateSightInfo('/prov/fujian/pt/0/1','updateContianer')"
        href="javascript:;">福建省</a></li>
    <li id="shandong"><a onclick="updateSightInfo('/prov/shandong/pt/0/1','updateContianer')"
        href="javascript:;">山东省</a></li>
    <li id="jiangxi"><a onclick="updateSightInfo('/prov/jiangxi/pt/0/1','updateContianer')"
        href="javascript:;">江西省</a></li>
    <li id="guangxi"><a onclick="updateSightInfo('/prov/guangxi/pt/0/1','updateContianer')"
        href="javascript:;">广西省</a></li>
    <li id="anhui"><a onclick="updateSightInfo('/prov/anhui/pt/0/1','updateContianer')"
        href="javascript:;">安徽省</a></li>
    <li id="hebei"><a onclick="updateSightInfo('/prov/hebei/pt/0/1','updateContianer')"
        href="javascript:;">河北省</a></li>
    <li id="henan"><a onclick="updateSightInfo('/prov/henan/pt/0/1','updateContianer')"
        href="javascript:;">河南省</a></li>
    <li id="hubei"><a onclick="updateSightInfo('/prov/hubei/pt/0/1','updateContianer')"
        href="javascript:;">湖北省</a></li>
    <li id="hunan"><a onclick="updateSightInfo('/prov/hunan/pt/0/1','updateContianer')"
        href="javascript:;">湖南省</a></li>
    <li id="shanxis"><a onclick="updateSightInfo('/prov/shanxis/pt/0/1','updateContianer')"
        href="javascript:;">陕西省</a></li>
    <li id="shanxi"><a onclick="updateSightInfo('/prov/shanxi/pt/0/1','updateContianer')"
        href="javascript:;">山西省</a></li>
    <li id="heilongjiang"><a onclick="updateSightInfo('/prov/heilongjiang/pt/0/1','updateContianer')"
        href="javascript:;">黑龙江</a></li>
    <li id="liaoning"><a onclick="updateSightInfo('/prov/liaoning/pt/0/1','updateContianer')"
        href="javascript:;">辽宁省</a></li>
    <li id="jilin"><a onclick="updateSightInfo('/prov/jilin/pt/0/1','updateContianer')"
        href="javascript:;">吉林省</a></li>
    <li id="yunnan"><a onclick="updateSightInfo('/prov/yunnan/pt/0/1','updateContianer')"
        href="javascript:;">云南省</a></li>
    <li id="guizhou"><a onclick="updateSightInfo('/prov/guizhou/pt/0/1','updateContianer')"
        href="javascript:;">贵州省</a></li>
    <li id="gansu"><a onclick="updateSightInfo('/prov/gansu/pt/0/1','updateContianer')"
        href="javascript:;">甘肃省</a></li>
    <li id="neimenggu"><a onclick="updateSightInfo('/prov/neimenggu/pt/0/1','updateContianer')"
        href="javascript:;">内蒙古</a></li>
    <li id="ningxia"><a onclick="updateSightInfo('/prov/ningxia/pt/0/1','updateContianer')"
        href="javascript:;">宁夏</a></li>
    <li id="xicang"><a onclick="updateSightInfo('/prov/xicang/pt/0/1','updateContianer')"
        href="javascript:;">西藏</a></li>
    <li id="xinjiang"><a onclick="updateSightInfo('/prov/xinjiang/pt/0/1','updateContianer')"
        href="javascript:;">新疆</a></li>
    <li id="qinghai"><a onclick="updateSightInfo('/prov/qinghai/pt/0/1','updateContianer')"
        href="javascript:;">青海省</a></li>
    <li id="xianggang"><a onclick="updateSightInfo('/prov/xianggang/pt/0/1','updateContianer')"
        href="javascript:;">香港</a></li>
    <li id="aomen"><a onclick="updateSightInfo('/prov/aomen/pt/0/1','updateContianer')"
        href="javascript:;">澳门</a></li>
    <li id="taiwan"><a onclick="updateSightInfo('/prov/taiwan/pt/0/1','updateContianer')"
        href="javascript:;">台湾</a></li>
</ul>*@
<div style="clear: both;">
</div>
