@using Webdiyer.WebControls.Mvc;
@model  iPow.Application.jq.Dto.SightDetailDto
@{
    var hotelLeftMidService = iPow.Presentation.jq.iPowPreJqEngine.Current.Resolve<
        iPow.Service.Union.Service.IHotelLeftMidService>();
    ViewBag.Title = (Model != null && Model.SightInfo != null && Model.SightInfo.Title != null ? Model.SightInfo.Title : "") + "--iPow自助旅行网";
}
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/main.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/sight_index.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/marker.css")" />
<script src="http://ditu.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAmoR-oBdyeH4Zkn00S2LOLhRdPH43yFVZ6O0pFnW8m54CGfsV9hSR2QH4wAlox0CoYhgKSKnpURoU3A"
    type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/pkgHotelMarker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/AC_RunActiveContent.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/HG.Core.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/sight.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/traffic.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/viewthread.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.form.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Googlemap.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#addComm').submit(function () {
            var options = {
                target: '#Searchresult',   // target element(s) to be updated with server response 
                beforeSubmit: showRequest,  // pre-submit callback 
                success: showResponse,  // post-submit callback 
                type: 'POST',
                url: '/sight/addsightcomm',
                data: null,
                dataType: null,
                timeout: 20000
            };
            $(this).ajaxSubmit(options);
            return false;
        });
    });
    function showRequest(formData, jqForm, options) {
        if ($('#txtUserName').val() == '') {
            alert('名称不能不空');
            $('#txtUserName').focus();
            return false;
        }
        if ($('#txtContent').val() == '') {
            alert('评论内容不能为空');
            $('#txtContent').focus();
            return false;
        }
        return true;
    }
    function showResponse(responseText, statusText, xhr, $form) {
        if (statusText == 'success') {
            alert('评论成功');
        } else {
            alert('评论失败，请稍后再评论');
        }
    } 
</script>
<script type="text/javascript">
    $(document).ready(function () {
        rightTab("cirTab", "cirList", "cirTab", "current");
        $("#hrefCirHotel").mouseup(function () {
            var list = mapDataProcess(hotelMap);
            HotelMarker.resetMarkers(map, list);
            HotelMarker.setCenterAndZoom(map, list);
        });
        $("#hrefCirSight").mouseup(function () {
            var list = mapDataProcess(sightMap);
            HotelMarker.resetMarkers(map, list);
            HotelMarker.setCenterAndZoom(map, list);
        });
        mapinitialize(sightMap, "gMap");
        leftTab("picvideoTab", "PicVideoList", "nocurrent", "current");
        leftTab("sightIntroTab", "SightIntroInfo", "nocurrent", "current");
        $("#DoVouch").Star({
            on: "/images/staron.gif",
            off: "/images/staroff.gif",
            enable: true
        });

        jQuery("#btnTrafficQuery").click(function () {
            search_bus_map();
        });

        //是点击驾车查询时用到的 要改的话，去掉注释就行了
        jQuery("#btnDriveQuery").click(function () {
            // search_route_map();
        });

        //edit by yjihrp 2011.8.16.13.36
        //jQuery("#chooseCity").click(showAreaCode);
    });
</script>
@Html.Partial("IndexGoogleJsPartial")


<!--广告位开始-->
@Html.Partial("_ADLayout")
@{
    if (this.Model.SightInfo != null)
    {
    <input type="hidden" id="localAreaCode" value="@(this.Model.SightInfo.AreaCode)" />
    <input type="hidden" id="fromAreaCode" value="" />
    <div class="mainContainer" style="text-align: center; line-height: 25px;">
        <!--左侧内容开始-->
        <div class="leftContainerCopy" id="updateContianer">
            <div class="guidTitle">
                <h2>@(Model.SightInfo.Title)</h2>
                <span class="typeName">[@(this.Model.SightClass != null ? Model.SightClass.ClassName : "")]</span>
                <span class="ticketName">门票价格：</span> <span class="ticketPrice">￥@(Model.SightInfo.Ticket)
                </span><span class="rightControl"><a href="javascript:;" onclick="GetSightData(@(Model.SightInfo.ParkID),'GoCount');" class="wantbutton">
                    我去过</a> | <a href="javascript:;" onclick="GetSightData(@(Model.SightInfo.ParkID),'WantCount');">
                        我想去</a> | <a href="#">添加到我的行程</a> </span>
            </div>
            <div class="guidMenu">
                <span class="spanTab"><a href="@Url.Action("Index", "SightDetail", new { sight = Model.SightInfo.PY, sid = Model.SightInfo.ParkID, id = 1 })" class="curren">
                    基本信息</a> <a onclick = "updateSightInfo('/sight/ticket/@(Model.SightInfo.ParkID)/tic','updateContianer');" href="javascript:;" title="门票">
                        门票</a> <a onclick = "updateSightInfo('/sight/article/@(Model.SightInfo.ParkID)/art/A/1','updateContianer');"
                         href="javascript:;" title="攻略游记">攻略游记</a> <a onclick = "updateSightInfo('/sight/guide/@(Model.SightInfo.ParkID)/gui','updateContianer');"
                            href="javascript:;"title="导游图">导游图</a> <a onclick = "updateSightInfo('/sight/pic/@(Model.SightInfo.ParkID)/pic/N/1','updateContianer');" href="javascript:;" title="图片">
                                图 片</a> <a onclick = "updateSightInfo('/sight/video/@(Model.SightInfo.ParkID)/vid/N/1','updateContianer');" href="javascript:;"title="视频">
                                    视 频</a> </span><span class="spanInfo"><em style="background-color: #286903;" id="GoCount">@(Model.SightInfo.GoCount)</em>人去过&nbsp;&nbsp;
                                        <em id="WantCount">@(Model.SightInfo.WantCount)</em>人想去
                </span>
            </div>
            <div class="intro">
                <div class="playContainer">
                    @Html.Partial("IndexVideoJsPartial")
                </div>
                <div class="introText">
                    <div class="introScore">
                        <h3 id="VouchValue">@(Model.SightInfo.VoIndex)</h3>
                        <span>推荐指数</span> <a href="javascript:;" id="aSightTop" onmouseover="showStart(this,'DoVouch')">
                            我顶</a>
                    </div>
                    <div class="showStart" id="DoVouch">
                    </div>
                    <p>
                        <label>
                            适合对象：</label>@(Model.SightInfo.FitCrowd)
                        &nbsp;&nbsp;<label>最佳旅游时间：</label>@(Model.SightInfo.OpToTime)<br />
                        <label>
                            一句话评价：</label>@(Model.SightInfo.OneSentence)<br />
                        <label>
                            营业时间：</label>@(Model.SightInfo.ShopHours)<br />
                        <label>
                            精彩玩点：</label>
                        @Html.Partial("IndexVouchItemPartial")
                        <br />
                        <label>
                            停车位：</label>
                        @(Model.SightInfo.ParkingSpace)
                        <br />
                    </p>
                </div>
            </div>
            <div class="introMain">
                <div class="introMenu" id="picvideoTab">
                    <a href="javascript:;" id="pictab" title="图片" class="current">图 片</a> <a href="javascript:;"
                        id="videotab" title="景区">视 频</a>
                </div>
                <div class="infoContainer" id="PicVideoList">
                    <div id="PicVideoList1">
                        @Html.Partial("IndexPicPartial")
                    </div>
                    <div id="PicVideoList2" class="cirListHide">
                        @Html.Partial("IndexVideoPartial")
                    </div>
                </div>
                <div class="introMenu">
                    <a href="javascript:void(0);" class="current">攻略游记</a>
                </div>
                <div class="infoContainer">
                    @Html.Partial("IndexArticlePartial")
                </div>
                <div class="introMenu" id="TransportTab">
                    <a href="javascript:;" id="TransportTab1" onclick="TransportsTab(1,2);jQuery('#trafficCity').hide()"
                        class="current" style="display: none">公交查询</a> <a href="javascript:;" id="TransportTab2"
                            onclick="TransportsTab(2,1)" title="景区" class="current">自驾查询</a>
                </div>
                @Html.Partial("IndexTrafficPartial")
                <div class="introMenu" id="sightIntroTab">
                    <a href="javascript:void(0);" id="sightintro1" class="current">景点介绍</a> <a href="javascript:;"
                        id="sightintro2" title="交通信息">交通信息</a>
                </div>
                <div class="infoContainer" id="SightIntroInfo">
                    <div id="SightIntroInfo1">
                        <p>
                            @(Model.SightInfo.Remark)
                        </p>
                    </div>
                    <div id="SightIntroInfo2" class="cirListHide">
                        @(Model.SightInfo.TrafficClew)
                    </div>
                </div>
            </div>
            @Html.Partial("IndexSightCommPartial")
            <div class="introMain" id="commListInfo">
                <div class="commPage">
                    <span class="leftTitle">>>评论列表：</span>
                </div>
                <div id="Searchresult" class="commListOut">
                    @Html.Partial("IndexCommListPartial")
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <!--左侧内容结束-->
        <!--右侧内容开始-->
        <div class="rightContainerCopy">
            <div class="mapContainer1" id="jxMapTipPanel">
            </div>
            <div class="mapContainer" id="gMap" style="overflow: hidden;">
                <img src="/images/loading2.gif" class="maploading" alt="" />
            </div>
            <div class="mapTab" id="cirTab">
                <a href="javascript:;" class="current" id="hrefCirSight">周边景区</a> <a href="javascript:;"
                    id="hrefCirHotel" class="cirTab">周边酒店</a> <a href="javascript:;" class="cirTab" id="hrefCirTraffic">
                        周边饮食</a>
            </div>
            <div class="cirList" id="cirList1">
                @{
        System.Text.StringBuilder sightCirSight = new System.Text.StringBuilder();

        if (Model.CirSightInfoList != null && Model.CirSightInfoList.Count > 0)
        {
            sightCirSight.AppendLine(" var sightMap = [");
            var count = 0;
            foreach (var item in Model.CirSightInfoList)
            {
                var cirSightId = "aCirSight" + count.ToString();
                var title = item.Title;
                string imgPath = "/images/icon/htop" + (count + 1) + ".jpg";
                title = title.Length > 8 ? title.Substring(0, 7) : title;
                    <a id="@(cirSightId)" href="/sight/@(item.PY)/@(item.ParkID)/1" title="@(item.Title)">
                        <img src="@(imgPath)" align="absmiddle" border="0" alt=""/>
                        <span>@(title)</span> <em>￥@(item.Ticket.ToString())</em> </a>
                if (count >= Model.CirSightInfoList.Count - 1)
                {
                    sightCirSight.AppendLine("  {Name:'" + item.Title + "',Url:'" + item.Url + "',Type:'Sight',Latitude:" + item.Latitude + ",Longitude:" + item.Longitude + ",Price:" + item.Ticket + ",ImageSrc:'" + item.PicPath + "',Address:'" + item.Address + "',CommCount:0,PicCount:0,SightType:'" + item.ClassID + "',DomID:'aCirSight" + count + "'}");
                }
                else
                {
                    sightCirSight.AppendLine("  {Name:'" + item.Title + "',Url:'" + item.Url + "',Type:'Sight',Latitude:" + item.Latitude + ",Longitude:" + item.Longitude + ",Price:" + item.Ticket + ",ImageSrc:'" + item.PicPath + "',Address:'" + item.Address + "',CommCount:0,PicCount:0,SightType:'" + item.ClassID + "',DomID:'aCirSight" + count + "'},");
                }
                count++;
            }
            sightCirSight.AppendLine("]");
        }
                }
            </div>
            <div class="cirListHide" id="cirList2">
                @{ System.Text.StringBuilder sightCirHotel = new System.Text.StringBuilder();
                   if (Model.SightInfo.Latitude != null && Model.SightInfo.Longitude != null)
                   {
                       var intime = System.DateTime.Now.ToString("yyyy-MM-dd").Replace("-", "_");
                       string cityName = "深圳";
                       string latlon = "";
                       string strMin = "0";
                       string strMax = "0";
                       cityName = Model.SightInfo.City.Replace("市", "");
                       latlon = "(" + Model.SightInfo.Latitude.ToString() + "," + Model.SightInfo.Longitude.ToString() + ")";
                       var cirHotelInfoList = hotelLeftMidService.GetMidHotHotelByLatLong(intime, cityName, System.Web.HttpUtility.UrlEncode(latlon), "1", strMin, strMax);
                       if (cirHotelInfoList != null && cirHotelInfoList.hotel_list != null && cirHotelInfoList.hotel_list.Count > 0)
                       {
                           sightCirHotel.AppendLine(" var hotelMap = [ ");
                           var count = 0;
                           foreach (var item in cirHotelInfoList.hotel_list)
                           {
                               var pos = item.pos.Replace("(", "").Replace(")", "");
                               var posList = pos.Split(',').ToList();
                               if (posList.Count == 2)
                               {
                                   var hotelId = "acirHotel" + count.ToString();
                                   var title = item.hotelname;
                                   string imgPath = "/images/icon/htop" + (count + 1) + ".jpg";
                                   title = title.Length > 8 ? title.Substring(0, 7) : title;
                    <a id="@(hotelId)" href="http://hotel.ipow.cn/hotel/@(item.id)" title="@(item.hotelname)">
                        <img src="@(imgPath)" align="absmiddle" border="0" alt = ""/>
                        <span>@(title)</span> <em>￥@(item.price.ToString())</em> </a>                       
                                   if (count >= cirHotelInfoList.hotel_list.Count - 1)
                                   {
                                       sightCirHotel.AppendLine("   { Name: '" + item.hotelname + "', Url: '"
                                           + item.pic + "', Type: 'Hotel', Latitude: "
                                           + posList[0] + ", Longitude: "
                                           + posList[0] + ", Price: "
                                           + item.price + ", ImageSrc: '"
                                           + item.pic + "', Address: '"
                                           + item.address + "', CommCount: 0, PicCount: 0, HotelType: '"
                                           + item.jdlx + "', DomID: 'acirHotel" + count + "' }");
                                   }
                                   else
                                   {
                                       sightCirHotel.AppendLine("   { Name: '" + item.hotelname + "', Url: '"
                                            + item.pic + "', Type: 'Hotel', Latitude: "
                                            + posList[0] + ", Longitude: "
                                            + posList[0] + ", Price: "
                                            + item.price + ", ImageSrc: '"
                                            + item.pic + "', Address: '"
                                            + item.address + "', CommCount: 0, PicCount: 0, HotelType: '"
                                            + item.jdlx + "', DomID: 'acirHotel" + count + "' },");
                                   }
                               }
                               count++;
                           }
                           sightCirHotel.AppendLine("]");
                       }
                   }
                }
            </div>
            <div class="cirListHide" id="cirList3">
                <p>
                    敬请关注！</p>
            </div>
            <div class="aboutInfo">
                联系方式
            </div>
            <div class="mapTab">
                <p>
                    地址：@(Model.SightInfo.Address)<br />
                    电话：@(Model.SightInfo.Telephone)<br />
                    E-Mail：@(Model.SightInfo.Email)<br />
                    网址：<a href="@(Model.SightInfo.Url)" title="@(Model.SightInfo.Title)" target="_blank">@(Model.SightInfo.Url)</a>
                </p>
            </div>
            <div class="clear">
            </div>
        </div>
        <!--右侧内容结束-->
        <div class="clear">
        </div>
    </div>
    <div id="floatBox" class="floatBox" style="display: none">
        <!--  floatTitle-->
        <div id="floatTitle" class="">
            <h4>
                引用回复</h4>
            <span onclick="closeWin();">关闭</span></div>
        <div id="floatContent" class="floatContent">
        </div>
        <div class="clear">
        </div>
        <div class="commReply" id="commReply">
            <span>
                <textarea id="txtReContent" name="txtReContent" cols="32" rows="5"></textarea>
            </span><a href="javascript:;" title="提交回复">提 交</a> <span>请iPow族员文明用语，保持iPow家园健康清洁。</span>
        </div>
    </div>
    @Html.Raw("<script type=\"text/javascript\">     " + sightCirSight.ToString() + "</script>")
    @Html.Raw("<script type=\"text/javascript\">     " + sightCirHotel.ToString() + "</script>")
    }
}
<div id="bbMapCopy" style="display: none">
</div>
