@using Webdiyer.WebControls.Mvc
@model iPow.Application.jq.Dto.ArticleCommListDto
@{
    foreach (var item in Model.CommList)
    {
        var userId = "user" + item.UserID.ToString();
        var ips = item.Ip.Split('.');

        var ip = ips[0] + "." + ips[1] + "*.*";
        var contentId = "commContent" + item.UserID.ToString();
    <p class="over">
        <img src="/images/face/face1.jpg" width="45" height="45" class="face" />
        <span class="spanUser" id='@(userId)'><b>iPow@(item.UserName)</b> ip：@(ip)</span>
        <span class="spanScore"></span><span class="content" id="@contentId">@item.Content</span>
        <span class="control">发表于：@item.AddTime.ToString()&nbsp;&nbsp;&nbsp;&nbsp;<a
                                href="javascript:;" onclick="showCommReply(@(item.UserID),@(item.ArticleID))" style = " display: none">引用回复</a>&nbsp;</span>
    </p>
    }
}
<div id="Pagination" class="Pagecon">
    @Html.AjaxPager(Model.CommList.TotalItemCount, Model.CommList.PageSize, Model.CommList.CurrentPageIndex,
        "ArticleCommPage",
        "Article",
        "SightArticleCommPage",
        new PagerOptions()
        {
            PageIndexParameterName = "pi",
            LastPageText = "尾页",
            FirstPageText = "首页",
            PrevPageText = "上一页",
            NextPageText = "下一页",
            NumericPagerItemCount = 5,
            CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>"
        },
        new
        {
            art = Model.ArticleId,
            pi = Model.CommList.CurrentPageIndex
        },
        new AjaxOptions()
        {
            UpdateTargetId = "Searchresult",
            OnBegin = "",
            OnComplete = ""
        },
        null)
</div>
