@{
    var headVouchData = iPow.Presentation.Union.iPowPreUnionEngine.Current.Resolve<
        iPow.Service.Union.Service.IHeadVouchDataService>();

    var hotelLeftMidService = iPow.Presentation.Union.iPowPreUnionEngine.Current.Resolve<
        iPow.Service.Union.Service.IHotelLeftMidService>();
}
<script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>
<style type="text/css">
    *
    {
        margin: 0;
        padding: 0;
    }
    ul li
    {
        list-style-type: none;
    }
    #ulMenu
    {
        border-left: solid 1px #d0d0d0;
    }
    #ulMenu li
    {
        width: 73px;
        float: left;
        border: solid #d0d0d0;
        border-width: 1px 1px 1px 0;
    }
    #ulMenu li a
    {
        color: #4e4e4e;
        font-size: 12px;
        float: left;
        background: #F7F7F7;
        line-height: 22px;
        text-align: center;
        text-decoration: none;
        width: 73px;
        height: 22px;
        display: block;
    }
    #ulMenu li .Cuter, #ulMenu li a:hover
    {
        background: #ffa200;
        color: #fff;
    }
</style>
<div class="hotTop">
    <ul id="ulMenu">
        <li id="guangdong" onclick="GetVouchData('/HeadVouchData/GetVouchData' , '广州' , 'hotContainer')">
            <a href="javascript:"  class = "@((ViewBag.city == null || ViewBag.city == "广州") ? "Cuter" : "")"   >
                广州</a></li>
        <li id="shanghai" onclick="GetVouchData('/HeadVouchData/GetVouchData' , '上海' , 'hotContainer')">
            <a href="javascript:" class = "@((ViewBag.city != null && ViewBag.city == "上海") ? "Cuter" : "")" >
                上海</a></li>
        <li id="shenzhen" onclick="GetVouchData('/HeadVouchData/GetVouchData' , '深圳' , 'hotContainer')">
            <a href="javascript:" class = "@((ViewBag.city != null && ViewBag.city == "深圳") ? "Cuter" : "")" >
                深圳</a></li>
        <li id="beijing" onclick="GetVouchData('/HeadVouchData/GetVouchData' , '北京' , 'hotContainer')">
            <a href="javascript:" class = "@((ViewBag.city != null && ViewBag.city == "北京") ? "Cuter" : "")" >
                北京</a></li>
    </ul>
    <div style="float: left; width: 200px; overflow: hidden; text-align: center; line-height: 23px;
        text-align: left;">
        << 全部<span id="spanArea"><a href="javascript:">
            @(ViewBag.city != null ? ViewBag.city : "广州")景区</a></span></div>
    <div class="hotButton">
        <a href="javascript:void(0);">旅游目的地</a> <a href="javascript:" class="current">出行城市</a>
    </div>
</div>
<div class="hotArea" id="hotSight">
    @{
        <h3>
            热点景区</h3> 
        IQueryable<iPow.Application.Union.Dto.HeadVouchSightInfoDto> si = null;
        si = headVouchData.GetVouchSightByCityName(ViewBag.city != null ? ViewBag.city : "广州", 10);
        if (si != null)
        {
            foreach (var item in si)
            {
        <a href="http://jq.ipow.cn/sight/@(item.Py)/@(item.Id.ToString())/1" title="@item.Title"  target="_blank">
            <dl>
                <dt>
                    @(item.Title.Length >= 6 ? (item.Title.Substring(0, 5) + "…") : item.Title)
                </dt>
                <dd class="img">
                    @{
                List<string> list = iPow.Infrastructure.Crosscutting.Comm.Service.UtilityService.GetSightDefaultPic(item.Id);
                        <img src="@(list.Count == 3 ? list[0] + "CutDown/116_103_" + list[1] : "#")" alt = "@(list.Count == 3 ? list[2] : "暂无图片")" />
                    }
                </dd>
                <dd class="info">
                    @{
                var intime = System.DateTime.Now.ToString("yyyy-MM-dd").Replace("-", "_");
                string cityName = "深圳";
                string latlon = "";
                cityName = item.City.Replace("市", "");
                latlon = "(" + item.Lat.ToString() + "," + item.Lon.ToString() + ")";
                var temp = hotelLeftMidService.GetMidHotHotelByLatLong(intime, cityName, Server.UrlEncode(latlon));
                    }
                    @((temp != null && temp.hotel_list != null) ? temp.hotel_list.Count : 0)
                    家酒店</dd>
            </dl>
        </a>
            }
        }
    }
</div>
