@{
    var headVouchData = iPow.Presentation.Union.iPowPreUnionEngine.Current.Resolve<
    iPow.Service.Union.Service.IHeadVouchDataService>();

    var hotelLeftMidService = iPow.Presentation.Union.iPowPreUnionEngine.Current.Resolve<
        iPow.Service.Union.Service.IHotelLeftMidService>();

    var locationService = iPow.Presentation.Union.iPowPreUnionEngine.Current.Resolve<
        iPow.Infrastructure.Crosscutting.Comm.Service.ILocationService>();

    var hotelTypeService = iPow.Presentation.Union.iPowPreUnionEngine.Current.Resolve<
        iPow.Service.Union.Service.IHotelTypeService>();
        
    try
    {
        var li = locationService.GetLocationInfo();
        if (li != null)
        {
    <div class="leftTitle">
        <div class="leftTitleText">
            <h3>
                @(li.Province)热门景区周边酒店推荐</h3>
        </div>
        <div class="leftTitleTab">
            <ul>
                <li id="lowtwoth" title="￥200以内">￥200以内</li>
                <li id="twotothr" title="￥200-￥300">￥200-￥300</li>
                <li id="thrtofive" title="￥300-￥500">￥300-￥500</li>
                <li id="fivetomax" title="￥500以上">￥500以上</li>
            </ul>
        </div>
    </div>
    <div class="leftContent">
        <span style="width: 158px;">区域</span> <span style="width: 90px;">价格</span> <span
            style="width: 120px;">类型</span> <span style="width: 230px;">酒店名称</span> <span style="width: 80px;">
                人气</span>
    </div>
    <div class="hotelContainer" id="HotelInfo">
        @{
            IQueryable<iPow.Application.Union.Dto.HotelLeftSightInfoDto> si =
                headVouchData.GetLeftHotSightInfoByProvince(li.Province, 3);
            if (si != null)
            {
                string sightIds = string.Empty;
                iPow.Application.Union.Dto.SearchHotelDto data = null;
                var intime = System.DateTime.Now.ToString("yyyy-MM-dd").Replace("-", "_");
                string cityName = "深圳";
                string latlon = "";
                var counter = 0;
                foreach (var item in si)
                {
                    if (item.Lon != null && item.Lat != null)
                    {
            <div class="areaHotelInfo">
                <div class="area">
                    <a href="http://jq.ipow.cn/sight/@(item.Py)/@(item.Id)/1" target="_blank" title="查看@(item.Name)周边所有酒店">
                        @{
                        sightIds += item.Id.ToString() + ",";
                        List<string> list = iPow.Infrastructure.Crosscutting.Comm.Service
                            .UtilityService.GetSightDefaultPic(item.Id);
                        }
                        <img src="@(list.Count == 3 ? list[0] + "CutDown/116_103_" + list[1] : "#")" alt = "@(list.Count == 3 ? list[2] : "暂无图片")" />
                        <span class="hotelname">@item.Name</span>更多酒店 </a>
                </div>
                <div id="Sight@(item.Id)" class="showHotelList">
                    @{
                        cityName = item.City.Replace("市", "");
                        latlon = "(" + item.Lat.ToString() + "," + item.Lon.ToString() + ")";
                        data = hotelLeftMidService.GetMidHotHotelByLatLong(intime, cityName, Server.UrlEncode(latlon));

                        if (data != null && data.hotel_list != null && data.hotel_list.Count > 0)
                        {
                            counter = 0;
                            foreach (var it in data.hotel_list)
                            {
                                if (counter < 3)
                                {
                        <a href="/hotel/@(it.id)" target="_blank" class="aLeftList">
                            <ul>
                                <li><span class="spanPrice">￥@(it.price)</span> <span class="spanStat">@(  string.IsNullOrEmpty(it.jdlx) == true ? hotelTypeService.GetHotelType(it.xingji) : it.jdlx)</span>
                                    <span class="spanName">@(it.hotelname)</span> <span class="spanHot">@(it.totaldd)</span>
                                </li>
                            </ul>
                        </a>            
                                }
                                else
                                {
                                    break;
                                }
                                counter++;
                            }
                        }
                    }
                </div>
            </div>
                    }
                }
            <script type="text/javascript">
                $(function () {
                    var ids = '@(sightIds)';
                    var array = ids.split(',');
                    $('#lowtwoth').click(function () {
                        for (var i = 0; i < array.length - 1; i++) {
                            GetLeftMidHotHotelInfo(array[i], '/leftmidhothotel/', 'Sight' + array[i], 0, 200);
                        }
                    });

                    $('#twotothr').click(function () {
                        for (var i = 0; i < array.length - 1; i++) {
                            GetLeftMidHotHotelInfo(array[i], '/leftmidhothotel/', 'Sight' + array[i], 201, 300);
                        }
                    });

                    $('#thrtofive').click(function () {
                        for (var i = 0; i < array.length - 1; i++) {
                            GetLeftMidHotHotelInfo(array[i], '/leftmidhothotel/', 'Sight' + array[i], 301, 500);
                            //setTimeout("GetLeftMidHotHotelInfo(" + array[i] + ", '/leftmidhothotel/', 'Sight" + array[i] + "', 301, 500)", 3000);
                        }
                    });

                    $('#fivetomax').click(function () {
                        for (var i = 0; i < array.length - 1; i++) {
                            GetLeftMidHotHotelInfo(array[i], '/leftmidhothotel/', 'Sight' + array[i], 501, 0);
                            //setTimeout("GetLeftMidHotHotelInfo(" + array[i] + ", '/leftmidhothotel/', 'Sight" + array[i] + "', 501, 0)", 3000);
                        }
                    });
                });
            </script>
            }
        }
    </div>
        }
        else
        {

        }
    }
    catch
    {
    }
}
