<ul>
    <li><strong>华北</strong> <a href="@Url.Action("Province", "Home", new { prov = "beijing", city = "all", cla = 0, id = 1 })">
        北京</a> <a href="@Url.Action("Province", "Home", new { prov = "hebei", city = "all", cla = 0, id = 1 })" title="河北">
            河北</a> <a href="@Url.Action("Province", "Home", new { prov = "neimenggu", city = "all", cla = 0, id = 1 })" title="内蒙古">
                内蒙</a> <a href="@Url.Action("Province", "Home", new { prov = "shanxi", city = "all", cla = 0, id = 1 })" title="山西">
                    山西</a> <a href="@Url.Action("Province", "Home", new { prov = "tianjin", city = "all", cla = 0, id = 1 })"  title="天津">
                        天津</a> </li>
    <li><strong>华南</strong> <a href="@Url.Action("Province", "Home", new { prov = "guangdong", city = "all", cla = 0, id = 1 })" title="广东">
        广东</a> <a href="@Url.Action("Province", "Home", new { prov = "guangxi", city = "all", cla = 0, id = 1 })"   title="广西">
            广西</a> <a href="@Url.Action("Province", "Home", new { prov = "hainan", city = "all", cla = 0, id = 1 })       " title="海南">
                海南</a> </li>
    <li><strong>华东</strong> <a href="@Url.Action("Province", "Home", new { prov = "anhui", city = "all", cla = 0, id = 1 })   " title="安徽">
        安徽</a> <a href="  @Url.Action("Province", "Home", new { prov = "fujian", city = "all", cla = 0, id = 1 })  "  title="福建">
            福建</a> <a href=" @Url.Action("Province", "Home", new { prov = "jiangsu", city = "all", cla = 0, id = 1 })         " title="江苏">
                江苏</a> <a href="      @Url.Action("Province", "Home", new { prov = "jiangxi", city = "all", cla = 0, id = 1 })      " title="江西">
                    江西</a> <a href="    @Url.Action("Province", "Home", new { prov = "shandong", city = "all", cla = 0, id = 1 })       " title="山东">
                        山东</a> <a href="     @Url.Action("Province", "Home", new { prov = "shanghai", city = "all", cla = 0, id = 1 })    "  title="上海">
                            上海</a> <a href="    @Url.Action("Province", "Home", new { prov = "zhejiang", city = "all", cla = 0, id = 1 })           " title="浙江">
                                浙江</a> </li>
    <li><strong>东北</strong> <a href="       @Url.Action("Province", "Home", new { prov = "heilongjiang", city = "all", cla = 0, id = 1 })      " title="黑龙江">
        黑龙江</a> <a href="         @Url.Action("Province", "Home", new { prov = "jilin", city = "all", cla = 0, id = 1 })    " title="吉林">
            吉林</a> <a href="       @Url.Action("Province", "Home", new { prov = "liaoning", city = "all", cla = 0, id = 1 })    " title="辽宁">
                辽宁</a> </li>
    <li><strong>西北</strong> <a href="     @Url.Action("Province", "Home", new { prov = "gansu", city = "all", cla = 0, id = 1 })        " title="甘肃">
        甘肃</a> <a href="        @Url.Action("Province", "Home", new { prov = "ningxia", city = "all", cla = 0, id = 1 })       "   title="宁夏">
            宁夏</a> <a href="       @Url.Action("Province", "Home", new { prov = "qinghai", city = "all", cla = 0, id = 1 })   " title="青海">
                青海</a> <a href="     @Url.Action("Province", "Home", new { prov = "shanxis", city = "all", cla = 0, id = 1 })  "  title="陕西">
                    陕西</a> <a href="   @Url.Action("Province", "Home", new { prov = "xinjiang", city = "all", cla = 0, id = 1 }) " title="新疆">
                        新疆</a> </li>
    <li><strong>华中</strong> <a href="      @Url.Action("Province", "Home", new { prov = "henan", city = "all", cla = 0, id = 1 })     " title="河南">
        河南</a> <a href="  @Url.Action("Province", "Home", new { prov = "hunan", city = "all", cla = 0, id = 1 })           "   title="湖南">
            湖南</a> <a href="  @Url.Action("Province", "Home", new { prov = "hubei", city = "all", cla = 0, id = 1 })     " title="湖北">
                湖北</a> </li>
    <li><strong>西南</strong> <a href=" @Url.Action("Province", "Home", new { prov = "guizhou", city = "all", cla = 0, id = 1 })     " title="贵州">
        贵州</a> <a href="    @Url.Action("Province", "Home", new { prov = "sichuan", city = "all", cla = 0, id = 1 })      "  title="四川">
            四川</a> <a href="     @Url.Action("Province", "Home", new { prov = "xicang", city = "all", cla = 0, id = 1 })     " title="西藏">
                西藏</a> <a href="     @Url.Action("Province", "Home", new { prov = "yunnan", city = "all", cla = 0, id = 1 })  " title="云南">
                    云南</a> <a href="  @Url.Action("Province", "Home", new { prov = "zhongqing", city = "all", cla = 0, id = 1 })     " title="重庆">
                        重庆</a> </li>
    <li><strong>港澳台</strong> <a href="  @Url.Action("Province", "Home", new { prov = "xianggang", city = "all", cla = 0, id = 1 })   " title="香港">
        香港</a> <a href="    @Url.Action("Province", "Home", new { prov = "aomen", city = "all", cla = 0, id = 1 })      " title="澳门">
            澳门</a> <a href="     @Url.Action("Province", "Home", new { prov = "taiwan", city = "all", cla = 0, id = 1 })        "  title="台湾">
                台湾</a> </li>
</ul>
